<!DOCTYPE html>
<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
</style>
</head>
<body>

<h2>
    {% if person %}
    <table>
        <tr>
            <th> Daily Amount</th>
            <th> Weekly Amount</th>
        </tr>
        <tr>
            <td>{{ person.daily_amount }}</td>
            <td>{{ person.weekly_amount }}</td>
        </tr>
        
    </table>
    {% else %}
        <p><a href="{% url 'create_person' %}">Define the amount to spent.</a></p>
    {% endif %}
</h2>



<table>
    <tr>
        <th>Orders</th>
        <th>Price</th>
        <th>Date of Order</th>
    
        </tr>
        {% for order in orders %}
            <tr>
                <td>{{ order.meal.name }} </td>
                <td> {{ order.meal.price }}</td>
                <td>{{ order.date }}</td>
                <td></td>
            </tr>
        {% endfor %}

