{% extends 'menu/base.html' %}

{% block content %}
<!-- Header -->
    <div style="height:800px;background-size:cover;background-color: dimgray;" class="w3-display-container w3-grayscale-min">
        <div class="w3-display-bottomleft">
            <span class="w3-tag w3-xlarge">Open from 10am to MidDay</span>
        </div>
            <div class="w3-display-middle w3-center">
                <span class="w3-text-white" style="font-size:100px"><br>Make Your Order</span>
            </div>
    </div>
{% endblock %}
