{% extends 'menu/base.html' %}


{% block content %}


<div id="menu" class="w3-container w3-black w3-xxlarge w3-padding-64">
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    
        {% if meals %}
            <!-- Menu -->
            
                <h1 class="w3-center w3-jumbo w3-padding-32">THE MENU</h1>
                <div class="w3-row w3-center w3-border w3-border-dark-grey">
                <a href="#drinks"><div class="w3-third w3-padding-large w3-red">Drinks</div></a>
                <a href="#starters"><div class="w3-third w3-padding-large w3-hover-red">Starters</div></a>
                <a href="#maincourse"><div class="w3-third w3-padding-large w3-hover-red">Main Course</div></a>
                </div>

            <form action="{% url 'place_order' %}" method="POST">
            {% csrf_token %}
                        
                
                    <div id="drinks" class="w3-container w3-white w3-padding-32">    
                    {% for meal in meals %}
                        {% if meal.meal_category == "drinks" %}
                            <h1><b>{{ meal.name }}</b> <span class="w3-right w3-tag w3-dark-grey w3-round">${{ meal.price }}</span><span><input type="checkbox" value="{{ meal.id }}" name="meals"></span></h1>
                            <p class="w3-text-grey">{% if meal.description %}{{ meal.description }} {% else %}  {% endif %}</p>
                            <hr>
                        {% endif %}
                    {% endfor %}
                    </div>

                    <h1 id="starters" class="w3-center w3-jumbo w3-padding-32">Starters</h1>
                    <div class="w3-container w3-white w3-padding-32">
                    {% for meal in meals %}
                    {% if meal.meal_category == "starters" %}
                        <h1><b>{{ meal.name }}</b> 
                        <span class="w3-right w3-tag w3-dark-grey w3-round">${{ meal.price }}</span><span><input type="checkbox" value="{{ meal.id }}" name="meals"></span></h1>
                        <p class="w3-text-grey">{% if meal.description %}{{ meal.description }} {% else %}  {% endif %}</p>
                        <hr>
                        {% endif %}
                    {% endfor %}
                    </div>
                    
                    <h1 id="maincourse" class="w3-center w3-jumbo w3-padding-32">Main Course</h1>
                    <div class="w3-container w3-white w3-padding-32">
                    {% for meal in meals %}
                    {% if meal.meal_category == "main_course" %}
                        <h1><b>{{ meal.name }}</b> 
                        <span class="w3-right w3-tag w3-dark-grey w3-round">${{ meal.price }}</span><span><input type="checkbox" value="{{ meal.id }}" name="meals"></span></h1>
                        <p class="w3-text-grey">{% if meal.description %}{{ meal.description }} {% else %}  {% endif %}</p>
                        <hr>
                    {% endif %}
                    {% endfor %}

                    <button>Place Order</button>
                </form>

        {% elif total %}

            <div class="w3-container w3-white w3-padding-32">    
                    
                <h1><b></b> <span class="w3-right w3-tag w3-dark-grey w3-round"></span><span></span></h1>
                <p class="w3-text-grey">
                    The order's total is: {{ total }}
                </p>
                <form action="{% url 'upload_image' pk=user %}" method="POST">
                    {% csrf_token %}
                    <label for="fileUpload">Upload file</label>
                    <input type="file" class="form-control-file" name="image">
                    <button class="btn btn-primary">Upload</button>
                  </form>

                <hr>
                       
                    
            </div>

        {% endif %}

    </div>
    </div>
    



{% endblock %}


  